name: Mirror crDroid

permissions:
  contents: write
  
on:
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Download file
        run: |
          wget -O crDroid.zip "https://downloads.sourceforge.net/project/crdroid/guacamole/11.x/crDroidAndroid-15.0-20250824-guacamole-v11.8.zip?ts=gAAAAABosBJexd5kczoD0ZP7SuzxXy9-Utd5mKMkQoy5FPXg9juf8amLjSN8sGndZ0L0TgBEydtlUCm5h5SNwoGAIbHQG_VdVg%3D%3D&use_mirror=cyfuture&r="

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: mirror-${{ github.run_id }}
          name: Mirrored File ${{ github.run_id }}
          files: crDroid.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
